@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333333;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

/* header */
.header-sedona {
  color: #000000;
  display: flex;
  padding: 0 70px;
  column-gap: 30px;
}

.header-sedona-logotip {
  margin-bottom: -7px;
  z-index: 1;
}

.header-sedona-navigation {
  width: 1060px;
  display: flex;
}

.header-sedona-navigation-list {
  width: 464px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header-sedona-navigation-item {
  font-family: inherit;
  font-weight: 700;
  list-style: none;
  background-repeat: no-repeat;
  background-position: center;
}

.header-sedona-icon {
  width: 268px;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;

}

.header-sedona-navigation-link {
  line-height: 24px;
  font-size: 20px;
  color: inherit;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 20px 16px;
  background: none;
  border: none;
  box-sizing: border-box;
}

.header-sedona-navigation-link-search {
  width: 44px;
  min-height: 64px;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header-sedona-navigation-heart {
  background-image: url("../images/heart.svg");
  width: 44px;
  min-height: 64px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.header-sedona-navigation-namber {
  width: 10px;
  min-height: 10px;
  font-family: inherit;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
  align-items: start;
  background-color: #7DB54F;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  top: 11px;
}
.header-sedona-navigation-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  margin-left: 20px;
  max-width: 160px;
  background: #756157;
  padding: 8px 34px;
  border-radius: 4px;
}

.main-container {
  flex-grow: 1;
}

.main-sedona {
  text-align: center;
}

.mein-sedona-logo {
  display: block;
  margin: 0 auto;
}

.greetings-sedona {
  padding: 51px 0 82px;
}

.greeting-wrapper {
  width: 620px;
  margin: 0 auto;
  padding: 69px 0;
}

.greetings-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  min-height: 72px;
  margin-top: 0;
}

.greetings-text {
  font-size: 22px;
  line-height: 26px;
  min-height: 26px;
  margin: 0;
}

.greetings-sedona {
  background-color: #82B3D3;
  color: #ffffff;
  background-image: url("../images/vector.svg"), url("../images/index-background.jpg");
  background-size: 1200px 485px auto;
  background-repeat: no-repeat;
  background-position: left bottom -1px, left top;
}

/* преимущества */

.attractions-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.attractions-item {
  width: 400px;
  min-height: 385px;
  text-align: center;
}

.attraction-text-wrapper {
  align-self: center;
  padding: 112px 85px;
}

.text-wrapper-img {
  padding-top: 102px;
  padding-bottom: 102px;
}

.attractions-devilis-bridge {
  background-color: #82b3d3;
  color: #ffffff;
}

.attractions-real-images {
  display: flex;
  flex-grow: 1;
  width: 100%;
  background-color: #82b3d3;
  color: #ffffff;
}

.attractions-devilis-images {
  width: 100%;
  background-color: #82b3d3;
  color: #ffffff;
  display: flex;
  flex-grow: 1;
}

.attractions-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 62px;
  flex-wrap: wrap;
}

.attractions-text {
  margin: 0;
}

.attractions-real-town-img {
  display: block;
}

.attractions-devilis-bridge-img {
  display: block;
}

.attractions-real-town-title {
  color: #ffffff;
}

.attractions-devilis-bridge-title {
  color: #ffffff;
}

.attractions-square {
  background-color: rgba(131, 179, 211, 0.12);
}

.attractions-tourists {
  background-color: rgba(131, 179, 211, 0.12);
}

.attractions-road {
  background-color: rgba(131, 179, 211, 0.2);
}


.advantages-sedona-text {
  width: 505px;
  margin: 0 auto;
  padding: 64px 0;
}

.sedona-come-title {
  min-height: 72px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
}

.sedona-come-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  min-height: 26px;
  margin: 0;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-home {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/home.svg");
}

.advantages-food {
  background-image: url("../images/food-icon.svg");
}

.advantages-souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/souvenirs.svg");
}

.advantages-item {
  background-repeat: no-repeat;
  background-position: center 81px;
  flex-grow: 1;
  width: 400px;
  min-height: 385px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 81px 85px;

}

.advantages-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 230px;
  text-align: center;
  margin-top: 102px;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  flex-wrap: wrap;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

.advantages-text {
  margin: 0;
  flex-wrap: wrap;
  text-align: center;
  justify-items: center;
}

.interested-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
}

.interested {
  padding: 96px 0;
  width: 592px;
  margin: 0 auto;
}

.interested-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.interested-link-button {
  max-width: 376px;
  padding: 10px 50px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin: 54px 0 auto;
  border-radius: 4px;

  display: inline-block;
}

/* подписаться на рассылку */
.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
}

.subscribe {
  background-color: #ffffff;
  color: #333333;
  text-align: center;
  margin: 0 auto;
  padding: 100px 0;
}

.subscribe-width {
  width: 684px;
}

.subscribe-images {
  background-image: url("../images/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 20px;
}

.subscribe-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  flex-wrap: wrap;
}

.subscribe-wrapp {
  width: 475px;
  margin: 0 auto;
}

.subscribe-form {
  width: 684px;
  display: flex;
  padding-top: 54px;
  margin: 0 auto;
}

.subscribe-button {
  width: 232px;
  min-height: 52px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: inherit;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: #82b3d3;
  color: #ffffff;
}

.subscribe-input {
  width: 452px;
  height: 52px;
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
  border: none;
  margin-left: auto;
  border-radius: 4px 0 0 4px;
}

/* футер */
.sedona-footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 30px;
  padding: 40px 70px;
}

.sedona-footer-tel {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.sedona-social-list {
  max-width: 142px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sedona-social-item {
  min-width: 47px;
  min-height: 40px;
  box-sizing: border-box;
  padding: 13px 11px;
  background-repeat: no-repeat;
  background-position: center;
}

.sedona-social-link {
  align-items: center;
}

.sedona-social-item-vk {
  background-image: url("../images/social/social-vk.svg");
}

.sedona-social-item-telegram {
  background-image: url("../images/social/social-telegram.svg");
}

.sedona-social-item-youtube {
  background-image: url("../images/social/social-you-tube.svg");
}

.sedona-phone {
  font-style: normal;
  min-width: 340px;
  display: flex;
  flex-wrap: wrap;
}

.sedona-autor-link {
  width: 115px;
}

/* каталог */
.sedona-hotels-main {
  margin: 0 auto;
}

.sedona-hotel-images {
  background-color: #ffffff;
  color: #333333;
  background-image: url("../images/filtr.jpg");
  background-size: 1200px 412px auto;
  background-repeat: no-repeat;
  padding: 35px 70px 70px;
}

.sedona-hotels {
  color: #ffffff;
}

.sedona-hotels-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #ffffff;
  margin-top: 0;
}

.sedona-hotels-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 8px;
  align-items: center;
  padding-bottom: 40px;
}

.sedona-hotels-home {
  display: inline-block;
  background-image: url("../images/home-vector.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 15px;
}

.sedona-hotels-form {
  column-gap: 70px;
  display: flex;
  justify-content: space-between;
}

.hotels-checkbox-group {
  width: 150px;
  padding-left: 0;
  padding-right: 0;
  border: none;
}

.hotels-radio-group {
  width: 150px;
  padding-left: 0;
  padding-right: 0;
  border: none;
}

.hotels-checkbox-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hotels-price {
  width: 288px;
  border: none;
  margin: 0;
  padding: 0;
}

.hotels-radio-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sedona-hotels-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}


.hotels-checkbox-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.hotels-radio-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.hotels-price-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.hotels-checkbox-item {
  line-height: 23px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.hotels-radio-item {
  line-height: 23px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.hotels-button-wrapper {
  width: 191px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hotels-button-apply {
  width: 100%;
  height: 36px;
  border-radius: 4px;
  background-color: #82b3d3;
}

.button-apply-text {
  text-transform: uppercase;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.button-reset-text {
  text-transform: uppercase;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.hotels-button-reset {
  margin: 0 auto;
  outline: none;
  border: 0;
  background: transparent;
}

.list-hotel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 56px 70px 46px;
  align-items: center;
}

.list-hotel-title {
  text-transform: uppercase;
}

.list-sorting {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  width: 292px;
  margin-left: auto;
  margin-right: 70px;
}

.location-hotel {
  width: 160px;
}

.location-hotel-list {
  list-style-type: none;
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.location-hotel-item {
  width: 48px;
  min-height: 48px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

.location-hotel-link {
  width: 48px;
  min-height: 48px;
  background-position: center;
}

.location-hotel-activ {
  background-image: url("../images/button/view.svg");
  border: 2px solid #000000;
}

.location-hotel-activ-one {
  background-image: url("../images/button/view-1.svg");
}

.location-hotel-activ-list {
  background-image: url("../images/button/view-2.svg");
}


.hotel-gallery {
  padding: 0 70px;
}

.hotel-gallery-list {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.hotel-gallery-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-grow: 1;
  width: 340px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  font-family: inherit;
  text-transform: uppercase;
}

.hotel-gallery-link-img {
  width: 100%;
  display: block;
}

.hotel-gallery-link {
  text-decoration: none;
}

.hotel-gallery-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  justify-self: start;
  flex-wrap: wrap;
  margin: 16px 0;
  text-transform: none;
}


.hotel-gallery-span {
  font-weight: 400;
  text-transform: none;
}


.numbers-four-star {
  width: 84px;
}

.numbers-three-star {
  width: 66px;
}

.numbers-two-star {
  width: 42px;
}

.text-content {
  display: flex;
  justify-content: space-between;
  margin: 0 0 16px;
  text-align: center;
  column-gap: 20px;
}

.text-content:last-child {
  margin-bottom: 0;
}

.hotel-gallery-button-link {
  max-width: 140px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  align-self: center;
  padding: 8px 26px;
  border-radius: 4px;
  border: none;
}

.hotel-gallery-button {
  max-width: 140px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 8px 19px;
  border: none;
  border-radius: 4px;
}

.hotel-gallery-button {
  background-color: #82b3d3;
}

.hotel-gallery-button-link {
  background-color: #756157;
}

.gallery-button-open {
  background-color: #7db54f;
  padding: 8px 17px;
}

.hotel-gallery-stars {
  max-width: 140px;
  margin: 10px 0;
  background-image: url("../images/star.svg");
  background-size: 18px;
  background-repeat: space;
}

.hotel-gallery-rating {
  max-width: 140px;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  background-color: #f2f2f2;
  padding: 8px 22px;
  margin: 0;
  margin-left: auto;
  border-radius: 4px;
}


/* пагинация */
.pagination-hotel-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 8px;
  margin: 40px 0 60px;
  padding: 0 70px;
}

.pagination-hotel-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  padding: 11px 23px;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  min-width: 60px;
  height: 60px;
  background-color: #82b3d3;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.pagination-non {
  background-color: #ffffff;
  color: #000000;
}

.pagination-open-link {
  color: #000000;
  background-color: #f2f2f2;
}
